@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 231 60% 95%;
    --foreground: 236 20% 15%;
    --card: 0 0% 100%;
    --card-foreground: 236 20% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 236 20% 15%;
    --primary: 236 64% 30%;
    --primary-foreground: 231 60% 95%;
    --secondary: 231 60% 90%;
    --secondary-foreground: 236 64% 30%;
    --muted: 231 60% 90%;
    --muted-foreground: 236 20% 45%;
    --accent: 231 48% 77%;
    --accent-foreground: 236 64% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 85%;
    --input: 231 20% 90%;
    --ring: 236 64% 30%;
    --chart-1: 236 64% 30%;
    --chart-2: 231 48% 60%;
    --chart-3: 231 48% 77%;
    --chart-4: 236 64% 50%;
    --chart-5: 231 30% 60%;
    --radius: 0.5rem;
    --sidebar-background: 236 64% 25%;
    --sidebar-foreground: 231 60% 90%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 236 64% 35%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 236 64% 35%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 236 20% 10%;
    --foreground: 231 60% 95%;
    --card: 236 20% 12%;
    --card-foreground: 231 60% 95%;
    --popover: 236 20% 10%;
    --popover-foreground: 231 60% 95%;
    --primary: 231 60% 95%;
    --primary-foreground: 236 64% 30%;
    --secondary: 236 20% 20%;
    --secondary-foreground: 231 60% 95%;
    --muted: 236 20% 20%;
    --muted-foreground: 231 20% 65%;
    --accent: 231 48% 40%;
    --accent-foreground: 231 60% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 236 20% 20%;
    --input: 236 20% 20%;
    --ring: 231 48% 77%;
    --chart-1: 231 60% 95%;
    --chart-2: 231 48% 77%;
    --chart-3: 231 48% 60%;
    --chart-4: 236 64% 70%;
    --chart-5: 231 40% 80%;
    --sidebar-background: 236 20% 10%;
    --sidebar-foreground: 231 60% 95%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 236 20% 20%;
    --sidebar-accent-foreground: 231 60% 95%;
    --sidebar-border: 236 20% 20%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
